<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1 style="font-size: 40px">Mã OTP lấy lại mật khẩu</h1>
        <p style="font-size: 14px">
            Dưới đây là mã OTP của bạn (sẽ hết hạn sau 5 phút):
        </p>
        <b style="font-size: 30px"><%=otp%></b>
    </body>
</html>
