<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1 style="font-size: 40px">
            Chào mừng bạn đến với VietPro Mobile Store!
        </h1>
        <p style="font-size: 14px">
            Bạn vừa đăng nhập vào hệ thống bằng tài khoản
            <span style="text-transform: capitalize; color: '<%=color%>'"
                ><%=provider%></span
            >. Dưới đây là mật khẩu để bạn đăng nhập bằng mật khẩu hoặc đặt mật
            khẩu mới:
        </p>
        <b style="font-size: 30px"><%=password%></b>
    </body>
</html>
